.input-fields {
    -fx-background-color: #ffdaca;
    -fx-border-width: 2px;
    -fx-border-color: #3289d5;
    -fx-border-radius: 30px;
    -fx-background-radius: 35px;
    -fx-text-fill: #333333;
    -fx-font-size: 20px;
    -fx-font-family: 'Quicksand Medium';
}

.regular-button {
    -fx-background-color: #ffdaca;
    -fx-border-width: 3px;
    -fx-border-color: #3289d5;
    -fx-text-fill: #333333;
    -fx-background-radius: 25px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-font-family: 'Quicksand Bold';
}

.tab-button {
    -fx-background-color: #ffdaca;
    -fx-border-width: 2px;
    -fx-border-color: #3289d5;
    -fx-text-fill: #333333;
    -fx-background-radius: 10px;
    -fx-border-style: solid none solid none;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-font-family: 'Quicksand Bold';
}

.tab-button-selected {
    -fx-background-color: #ffdaca;
    -fx-border-width: 3px;
    -fx-border-color: #3289d5;
    -fx-text-fill: #333333;
    -fx-background-radius: 10px;
    -fx-border-style: none solid none solid;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 20px;
    -fx-font-family: 'Quicksand Bold';
}

.scene-titles {
    -fx-font-family: 'Quicksand Bold';
    -fx-font-size: 75px;
    -fx-text-fill: #333333;
    /* -fx-font-smoothing-type: black; */
}

.large-subtitle {
    -fx-font-family: 'Quicksand Bold';
    -fx-font-size: 50px;
    -fx-text-fill: #333333;
}

.regular-subtitle {
    -fx-font-family: 'Quicksand Bold';
    -fx-font-size: 23px;
    -fx-text-fill: #333333;
}

.data-fields {
    -fx-background-color: #ffdaca;
    -fx-border-width: 2px;
    -fx-border-color: #3289d5;
    -fx-border-radius: 20px;
    -fx-background-radius: 25px;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-family: 'Quicksand Medium';
}

.data-field-labels {
    -fx-font-family: 'Quicksand Bold';
    -fx-font-size: 20px;
    -fx-text-fill: #333333;
}

.accessory-button {
    -fx-background-color: #ffdaca;
    -fx-border-width: 3px;
    -fx-border-color: #3289d5;
    -fx-text-fill: #333333;
    -fx-background-radius: 15px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-family: 'Quicksand Bold';
}

/* ———————————————————————————————————————— Radio Button ———————————————————————————————————————— */

.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #3289d5;
    -fx-background-color: #ffdaca;
    -fx-border-radius: 20px;
    -fx-background-radius: 100px;
    -fx-padding: 3px;

}

.radio-button:selected .dot {
    -fx-border-width: 0px;
    -fx-border-color: #3289d5;
    -fx-background-color: #3289d5;
    -fx-border-radius: 20px;
    -fx-padding: 12px;
    -fx-scale-x: 0.55;
    -fx-scale-y: 0.55;

}

.radio-button .dot {
    -fx-background-radius: 20px;
    -fx-padding: 12px;
    -fx-background-insets: 0;
}

/* —————————————————————————————————————————— Text Area ————————————————————————————————————————— */

.notes {
    -fx-text-fill: #333333;
    -fx-font-size: 30px;
    -fx-font-family: 'Quicksand Bold';
    -fx-spacing: 50px;
}

.text-area {
    -fx-background-color: rgba(0, 0, 0, 0.0);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

/* ————————————————————————————————————————— DatePicker ————————————————————————————————————————— */

* {
    -fx-primary-color: #3289d5;
    -fx-secondary-color: #3289d5;
    -fx-light-grey-color: #a2fdff;

    -fx-focus-color: -fx-secondary-color;
}


.date-picker {
    -fx-border-width: 2;
    -fx-border-radius: 100px !important;
    -fx-background-radius: 100px !important;
    -fx-font-family: 'Quicksand Medium';
    -fx-font-size: 14px;
}

.date-picker .arrow-button {
    -fx-border-radius: 0px 100px 100px 0px !important;
    -fx-background-radius: 0px 100px 100px 0px !important;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

.date-picker .text-field {
    -fx-border-radius: 100px 0px 0px 100px !important;
    -fx-background-radius: 100px 0px 0px 100px !important;
    -fx-background-color: #ffdaca;
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2px;
    -fx-cursor: default;
}

.week-number-cell {
    -fx-border-width: 2;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-font-family: 'Quicksand Medium';
}

.calendar-grid {
    -fx-background-color: #ffdaca;
    -fx-border-color: #ffdaca;
    -fx-border-radius: 5px;
    -fx-background-radius: 100px;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 10px;
}

.date-picker .arrow-button:hover .arrow {
    -fx-background-color: #333333;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #ffdaca;
}

.date-picker .cell {
    -fx-background-color: #ffdaca;
    -fx-border-radius: 100px;
    -fx-border-width: 0px;
    -fx-background-radius: 100px;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
    -fx-text-fill: #333333;
}

.date-picker .cell:focused {
    -fx-background-color: -fx-primary-color;
}

.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #ffdaca;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #333333;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}

.date-picker-popup {
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-background-color: #ffdaca;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #333333;
    -fx-font-family: 'Quicksand Bold';
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #ffdaca;
    -fx-border-width: 10px;
    -fx-border-color: #ffdaca;
}

.date-picker-popup .spinner .button,
.date-picker-popup .spinner .button {
    -fx-background-color: -fx-primary-color;
}

/* —————————————————————————————————————————— Dropdown —————————————————————————————————————————— */

.combo-box {
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 2px;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 100px !important;
    -fx-background-radius: 100px !important;
    -fx-font-family: 'Quicksand Medium';
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.combo-box .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-border-radius: 0px 100px 100px 0px !important;
    -fx-background-radius: 0px 100px 100px 0px !important;
}

.combo-box:hover .arrow-button .arrow {
    -fx-background-color: #333333;
}

.combo-box-base .text-field {
    -fx-background-color: #ffdaca;
    -fx-border-radius: 100px 0px 0px 100px !important;
    -fx-background-radius: 100px 0px 0px 100px !important;
    -fx-border-width: 2px;
}

/* .combo-box * {
    -fx-border-width: 0px;
    -fx-background-color: #ffdaca;
    -fx-background-radius: 20px 0px 0px 20px;
} */

.combo-box .list-cell {
    -fx-border-width: 10px;
    -fx-background-color: #ffdaca;
    -fx-background-radius: 20px 0px 0px 20px;
}

.combo-box .list-view {
    -fx-background-color: #ffdaca;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #ffdaca;
}